.search {
  width: 100%;
}

.filterItem {
  border-radius: 12px;
  background-color: rgba(230, 230, 230, 1);
  padding: 15px 10px;

  &.selected {
    background-color: #0f548c;
    color: #fff;
  }
}

.filterContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}
